@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
  background-color: antiquewhite;
}
*{
  margin: 0;
  padding: 0;

}
nav{
  font-family: "Roboto", sans-serif;

}
nav ul li{
  padding: 0 12px;
}
nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}
.Brand img{
  width: 46px;
  padding: 0 8px;

}
.Brand{
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.43rem;
}
.Container {
  min-height: 73vh;
  background-color: black;
  color: white;
  font-family:"Varela Round", sans-serif;
  display: flex;
  width: 70%;
  margin: 20px auto;
  border-radius: 12px;
  padding: 30px;
  background-image: url(bg\ music.jpg);
}
.bottom{
  height: 150px;
  position: sticky;
  background-color:black;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icons{
  margin-top: 14px;
}
#myProgressBar{
  width: 80vw;
  cursor: pointer;
}
.songItemContainer{
  margin-top: 40px;
}
.song-Item{
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content:space-between;
  align-items: center;
  border-radius: 34px;
}
.song-Item img{
width: 43px;
margin:0 23px;
border-radius: 34px;
}
.timestamp{
  margin: 0 23px;
}
.timestamp i{
  cursor: pointer;
}
.song-Info{
  position: absolute;
  left: 10vw;
  display: flex;
  align-items: center;
  font-family:"Varela Round", sans-serif;
}
.song-Info img{
  opacity: 0;
  transition: opacity 0.5s ease-in;
}